- name: Check if user exists
  ansible.builtin.shell: |
    {{ chroot_name }} /mnt id -u "{{ username }}"
  changed_when: false
  register: user_exists
  failed_when: false

- name: Create the user
  when: user_exists.rc != 0
  block:
    - name: Generate unique password
      set_fact:
        user_password: "{{ lookup('password', '/dev/null length=20 chars=ascii_letters,digits') }}"

    - name: Create groups if they do not exist
      include_tasks: create_group.yml
      loop: "{{ user_groups | default([]) }}"
      loop_control:
        loop_var: group_name

    - name: Create user
      ansible.builtin.shell: |
        {{ chroot_name }} /mnt useradd -m -s /bin/bash "{{ username }}" -G "{{ user_groups | default('') | join(',') }}"
      register: create_user_result
      failed_when: create_user_result.rc != 0

    - name: Set user password
      ansible.builtin.shell:
        cmd: |
          {{ chroot_name }} /mnt chpasswd
        stdin: "{{ username }}:{{ user_password }}"
      no_log: true
      register: set_password_result
      failed_when: set_password_result.rc != 0

    - name: Upload user password to Vault
      community.hashi_vault.vault_kv2_write:
        url: "https://vault.ryuugu.dev"
        engine_mount_point: "kv2"
        path: "servers/{{ inventory_hostname }}/users/{{ username }}"
        data:
          password: "{{ user_password }}"
        validate_certs: true
      retries: 50
      delay: 5
      delegate_to: localhost

- name: Check if user SSH key already exists in Vault
  community.hashi_vault.vault_kv2_get:
    url: "https://vault.ryuugu.dev"
    engine_mount_point: "kv2"
    path: "servers/{{ inventory_hostname }}/ssh/{{ username }}/public"
    validate_certs: true
  register: ssh_key
  delegate_to: localhost
  failed_when: false

- name: Create SSH keypair for the user
  delegate_to: localhost
  when: ssh_key.data is not defined or ssh_key.data.data is not defined or ssh_key.data.data.key is not defined
  block:
    - name: Create id25519 SSH key
      community.crypto.openssh_keypair:
        path: "{{ playbook_dir }}/{{ inventory_hostname }}_{{ username }}_ssh_key"
        type: "ed25519"

    - name: Upload the public SSH key to vault
      community.hashi_vault.vault_write:
        url: "https://vault.ryuugu.dev"
        path: "kv2/data/servers/{{ inventory_hostname }}/ssh/{{ username }}/public"
        data:
          data:
            key: "{{ lookup('file', playbook_dir + '/' + inventory_hostname + '_' + username + '_ssh_key.pub') }}"
        validate_certs: true
      retries: 5
      delay: 5

    - name: Upload the private SSH key to vault
      community.hashi_vault.vault_write:
        url: "https://vault.ryuugu.dev"
        path: "kv2/data/servers/{{ inventory_hostname }}/ssh/{{ username }}/private"
        data:
          data:
            key: "{{ lookup('file', playbook_dir + '/' + inventory_hostname + '_' + username + '_ssh_key') }}"
        validate_certs: true
      retries: 5
      delay: 5

- name: Fetch the public user ssh key from Vault
  community.hashi_vault.vault_kv2_get:
    url: "https://vault.ryuugu.dev"
    engine_mount_point: "kv2"
    path: "servers/{{ inventory_hostname }}/ssh/{{ username }}/public"
    validate_certs: true
  register: ssh_key
  delegate_to: localhost

- name: Ensure user .ssh directory exists
  ansible.builtin.file:
    path: "/mnt/home/{{ username }}/.ssh"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0700'

- name: Install user public key
  ansible.builtin.authorized_key:
    user: "{{ username }}"
    key: "{{ ssh_key.data.data.key }}"
    path: "/mnt/home/{{ username }}/.ssh/authorized_keys"
    manage_dir: false
