---
- name: Gather facts from localhost
  ansible.builtin.setup:
  delegate_to: localhost
  delegate_facts: true
  run_once: true

- name: Create the commands pipeline
  import_role:
    name: concourse
    tasks_from: create_server_commands_pipeline
  delegate_to: localhost
