---
- name: Gather facts from localhost
  ansible.builtin.setup:
  delegate_to: localhost
  delegate_facts: true
  run_once: true

- name: Check if root SSH key already exists in Vault
  community.hashi_vault.vault_kv2_get:
    url: "https://vault.ryuugu.dev"
    engine_mount_point: "kv2"
    path: "servers/{{ inventory_hostname }}/ssh/root/public"
    validate_certs: true
  register: ssh_key
  delegate_to: localhost
  failed_when: false
  tags:
    - setup

- name: Create the root SSH keypair for the server
  delegate_to: localhost
  block:
    - name: Create id25519 SSH key for server
      community.crypto.openssh_keypair:
        path: "{{ playbook_dir }}/{{ inventory_hostname }}_ssh_key"
        type: "ed25519"

    - name: Upload the public SSH key to vault
      community.hashi_vault.vault_write:
        url: "https://vault.ryuugu.dev"
        path: "kv2/data/servers/{{ inventory_hostname }}/ssh/root/public"
        data:
          data:
            key: "{{ lookup('file', playbook_dir + '/' + inventory_hostname + '_ssh_key.pub') }}"
        validate_certs: true
      retries: 5
      delay: 5

    - name: Upload the private SSH key to vault
      community.hashi_vault.vault_write:
        url: "https://vault.ryuugu.dev"
        path: "kv2/data/servers/{{ inventory_hostname }}/ssh/root/private"
        data:
          data:
            key: "{{ lookup('file', playbook_dir + '/' + inventory_hostname + '_ssh_key') }}"
        validate_certs: true
      retries: 5
      delay: 5
  when: ssh_key.secret is not defined
  tags:
  - setup

- name: Remove the temporary SSH key files
  file:
    path: "{{ item }}"
    state: absent
    force: yes
  with_fileglob:
    - "{{ playbook_dir }}/{{ inventory_hostname }}_ssh_key*"
  delegate_to: localhost
  tags:
    - setup

- name: Create the commands pipeline
  import_role:
    name: concourse
    tasks_from: create_server_commands_pipeline
  delegate_to: localhost
