---
- name: Mount the general partitions
  include_tasks: mount_single.yml
  loop: "{{ storage.partitions }}"
  loop_control:
    loop_var: item
    index_var: idx
  when: item.fs_type not in ["efi", "swap"]
