---
- name: Prime the NIC
  include_tasks: prime_nic.yml
  when: reboot_to_ipxe | default(false) | bool

- name: Reboot to iPXE
  ansible.builtin.shell:
    cmd: "grub-reboot 'Network Boot (iPXE)'"
  ignore_unreachable: yes
  ignore_errors: yes
  when: reboot_to_ipxe | default(false) | bool

- name: Reboot
  ansible.builtin.reboot:
    reboot_timeout: 0
