---
- name: Prime the NIC
  include_tasks: prime_nic.yml
  when: reboot_to_ipxe | default(false) | bool

- name: Reboot to iPXE
  ansible.builtin.shell:
    cmd: "grub-reboot 'Network Boot (iPXE)'"
  ignore_unreachable: yes
  ignore_errors: yes
  when: reboot_to_ipxe | default(false) | bool

- name: Reboot
  ansible.builtin.reboot:
    reboot_timeout: 0
  failed_when: false
  ignore_unreachable: yes
  ignore_errors: yes
  when: not hard_reset | default(false) | bool

- name: Hard reboot
  ansible.builtin.shell: "echo 1 > /proc/sys/kernel/sysrq && nohup sh -c 'sleep 2 && echo b > /proc/sysrq-trigger' >/dev/null 2>&1 &"
  async: 1
  poll: 0
  failed_when: false
  ignore_unreachable: yes
  ignore_errors: yes
  become: true
  when: hard_reset | default(false) | bool