resources:
- name: commands
  type: git
  source:
    uri: {{ commands_data_repo }}
    branch: {{ commands_data_branch }}

jobs:
  - name: commands
    plan:
      - get: commands
        trigger: true
      - task: run-commands
        privileged: true
        config:
          platform: linux
          image_resource:
            type: registry-image
            source:
              repository: registry.ryuugu.dev/prov
              tag: latest
          inputs:
            - name: commands
          params:
{% for key, value in ansible_env.items() %}
            {{ key }}: {{ value | to_json }}
{% endfor %}
          run:
            path: /bin/bash
            user: keiichi
            dir: /homelab
            args:
              - -lc
              - |
                  shopt -s nullglob
                  commands_file=(/tmp/build/*/commands/commands)
                  sudo chmod +x "${commands_file[0]}"
                  bash "${commands_file[0]}"